<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-app>
    <!--ng-controller控制器-->
    <div ng-controller="firstController">
        <!--这是angular表达式-->
        <div>
            <input type="text" ng-model="name">{{ name }}
        </div>
        <div>
            <input type="text" ng-model="age">
            {{ age }}
        </div>
    </div>
</div>
<script type="application/javascript" src="firstController_tpl.js"></script>
<script type="application/javascript" src="../js/angular.js"></script>
</body>
</html>