<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <style>
        .red {
            color:red;
        }
    </style>
    <script type="application/javascript" src="../js/angular.js"></script>
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="firstController">
        <button id="9" ng-click="changeClick($event)">切换状态</button>
        <button id="8" ng-click="changeClick($event)">切换状态</button>
        <button id="7" ng-click="changeClick($event)">切换状态</button>
        <button id="6" ng-click="changeClick($event)">切换状态</button>
        {{ status }}
         <div ng-style="colorStyle">1、ng-style</div>
         <div ng-class="{red:status}">2、ng-class</div>
         <div ng-show="status">3、ng-show</div>
         <div ng-hide="status">4、ng-hide</div>
         <div ng-switch on="status">5、ng-switch
            <span ng-switch-when="true">6、当我真时显示</span>
            <span ng-switch-when="false">7、当我假时显示</span>
         </div>
         <div ng-hide="status">8、ng-src<img ng-src="{{ src }}" /></div>
         <div ng-if="status">9、ng-if<img ng-src="{{ src }}" /></div>

    </div>
</div>
<script type="application/javascript" src="mutilController.js"></script>
</body>
</html>