<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <style>
        ul{
            margin: 0;
            padding: 0;
            margin-bottom:30px;
        }
    </style>
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="firstController">
        <p>第一种方法</p>
        <ul ng-cloak class="ng-cloak" ng-repeat="item in data | filterAge">
            {{ item.name }}
            {{ item.age }}
            {{ item.city }}
        </ul>
        <p>第二种方法</p>
        <ul ng-cloak class="ng-cloak" ng-repeat="item in data | filterCity">
            {{ item.name }}
            {{ item.age }}
            {{ item.city }}
        </ul>
    </div>
</div>

<script type="application/javascript" src="../js/angular.js"></script>
<script type="application/javascript" src="mutilController.js"></script>
</body>
</html>