<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>指令</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <style>
        .active {
            background-color: orange;
        }
        .my-tab-list ul li {
            display: inline-block;
        }
    </style>
    <script type="application/javascript" src="../js/angular.js"></script>
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="myfirstcontroller as panel">
        <div class="my-tab-list">
            <ul>
                <li ng-class="{active:panel.isSelected(1)}">
                    <a href ng-click="panel.selectTab(1)">1111111111</a>
                </li>
                <li ng-class="{active:panel.isSelected(2)}">
                    <a href ng-click="panel.selectTab(2)">2222222222</a>
                </li>
                <li ng-class="{active:panel.isSelected(3)}">
                    <a href ng-click="panel.selectTab(3)">33333333333</a>
                </li>
            </ul>
            <!--是否点击-->
            {{panel.isSelected(1)}} {{panel.isSelected(2)}} {{panel.isSelected(3)}}
            <div class="panel" ng-show="panel.isSelected(1)">

                <h1>我是1111111111111111111111</h1>
            </div>
            <div class="panel" ng-show="panel.isSelected(2)">
                <h1>我是22222222222222222</h1>
            </div>
            <div class="panel" ng-show="panel.isSelected(3)">
                <h1>我是3333333333333333333333</h1>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript" src="mutilController.js"></script>
</body>
</html>